# Build objects
build/
flibitBuild/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
VVVVVV.exe
VVVVVV
*.a
*.gch

# Game data
data.zip

# macOS files
.DS_Store
third_party
data/**/*.wav
data/**/*.png
data/**/*.vvvvvv
data/**/*.vvv
!data/*.json
VVVVVV_run
VVVVVV_tst
VVVVVV_new